{% extends 'base.html.twig' %}

{% block  title %}
    Mes Jeux
{% endblock %}

{% block body %}

	<h1 class="h1 mt-3 mb-4">Liste de vos jeux</h1>

	<div class="my-5 text-center text-md-left px-sm-0" stye="padding-left: 15px;">
		<a href="{{ path('account_games_create') }}" class="btn-jp mt-4 mb-3" >Enregistrer un nouveau jeu</a>
	</div>

	{% for message in app.flashes('success') %}
        <div class="col-md-3 bg-success p-4 rounded mx-auto text-center text-white mb-3">
        {{message}}
        </div>
    {% endfor %}

	<div class="row">
		{% for game in games %}

			<div class="col-md-4">
				<div class="card mb-4 shadow-sm">
					<img src="{{ asset('uploads/images/' ~ game.image) }}" alt="{{game.name}}">
					<div class="card-body">
						<h4 class="text-center">{{game.name}}</h4>
						<p class="card-text">Règle du jeu : {{game.description|striptags|slice(0,150)}} ...</p>
						<hr>
						<p class="card-text">Catégorie : {{game.category.name}}</p>
						<hr>
						<p class="card-text">Age: {{game.public}}</p>
						<hr>
						<p class="card-text">Nombre de joueurs : {{game.minPlayers}} {% if game.maxPlayers != NULL %} à {{game.maxPlayers}} {% endif %}</p>
						<hr>
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
							<a href="{{ path('catalogue_detail', {'id': game.id}) }}" class="btn btn-sm btn-outline-secondary">Voir le détail</a>
							<a href="" class="btn btn-sm btn-outline-secondary">Modifier</a>
							<a href="" class="btn btn-sm btn-outline-secondary">Supprimer</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		{% endfor %}
	</div>



{% endblock %}