{% extends 'base.html.twig' %}

{% block  title %}
    Mes Jeux
{% endblock %}

{% block body %}

	<h1 class="h1 size-title-account_games mt-3 mb-4">Liste de vos jeux</h1>

	<div class="my-5 text-center text-md-left md-pl-15px">
		<a href="{{ path('account_games_create') }}" class="btn-jp mt-4 mb-3" >Ajouter un nouveau jeu</a>
	</div>

	{% for message in app.flashes('success') %}
        <div class="col-lg-8 d-flex justify-content-center align-items-center mx-auto mb-3">
			<span class="bg-msg text-success font-italic rounded text-center mx-auto py-2 px-4">
        		{{message}}
			</span>
        </div>
    {% endfor %}

	<div class="row align-items-center">
		{% for game in games %}

			<div class="col-md-6 col-lg-4">
				<div class="mb-4 shadow-sm col_rwd">
					<div id="photo_account_games">
						<img src="{{ asset('uploads/images/' ~ game.image) }}" alt="{{game.name}}">
					</div>	
					<div class="card-body card_account_games">
						<h4 class="text-center size-name">{{game.name}}</h4>
						
						<p class="card-text"><span>Catégorie :</span> {{game.category.name}}</p>
						<p class="card-text"><span>Age :</span> {{game.public}}</p>
						<p class="card-text"><span>Nombre de joueurs :</span> {{game.minPlayers}} {% if game.maxPlayers != NULL %} à {{game.maxPlayers}} {% endif %}</p>
						
						<div class="btn-group">
							<a href="{{ path('detail', {'id': game.id}) }}" class="btn btn-sm btn-outline-secondary btn-resize">Voir</a>
							<a href="{{ path('account_games_edit', {'id': game.id}) }}" class="btn btn-sm btn-outline-secondary btn-resize">Modifier</a>
							<a href="" class="btn btn-sm btn-outline-secondary btn-resize" id="delete"></a>
						</div>
					</div>
				</div>
			</div>

		{% endfor %}
	</div>



{% endblock %}