{% extends 'base.html.twig' %}

{% block  title %}
    Mes Jeux
{% endblock %}

{% block body %}

	<h1 class="h1 mt-3 mb-4">Enregistrer un jeux</h1>

	<section class="row justify-content-center">
        <div class="col-md-10">
			{{ form_start(form, {'attr' : {'class': 'col-md-12 mx-auto py-4 row justify-content-around' }}) }}

				{{ form_row(form.name, {'label' : "Nom du jeu", 'attr' : {'placeholder': "Nom du jeu" }}) }}
				{{ form_row(form.category, {'label' : "Catégorie"}) }}
				{{ form_row(form.minPlayers, {'label' : "Nombre de joueurs min"}) }}
				{{ form_row(form.maxPlayers, {'label' : "Nombre de joueurs max"}) }}
				{{ form_row(form.public, {'label' : "Age"}) }}
				{{ form_row(form.image, {'label' : "Photo du jeu (2 Mo max)", 'attr' : {'placeholder': "Format jpg, jpeg ou png" }}) }}
				{{ form_row(form.description, {'label' : "Règle du jeu"}) }}

				<button type="submit" class="btn-jp mx-auto mt-4 mb-3">Enregistrer le jeu</button>

			{{ form_end(form) }}
        </div>
    </section>

{% endblock %}