{% extends "base.html.twig" %}


{% block title %}
    Détail du jeu 
{% endblock %}


{% block body %}

    <h2 class="h1 size-title display-4 text-center pb-4">{{ detail.name }}</h2>

		<div class="col-md-6 mx-auto">
			<div class="card mb-4 shadow border-dark">
				<img src="{{ asset('uploads/images/' ~ detail.image)}}" alt="{{detail.name}}">
				<div class="card-body">
					<h4 class="text-center size-game-name">{{detail.name}}</h4>
					<p class="card-text">Règle du jeu : {{detail.description}}</p>
					<hr class="border-dark">
					<p class="card-text">Catégorie : {{detail.category.name}}</p>
					<hr class="border-dark">
					<p class="card-text">Age: {{detail.public}}</p>
					<hr class="border-dark">
					<p class="card-text">Nombre de joueurs : {{detail.minPlayers}} {% if detail.maxPlayers != NULL %} à {{detail.maxPlayers}} {% endif %}</p>
					<hr class="border-dark">
					<p class="card-text">Ville de location : {{detail.owner.city}}</p>
					<hr class="border-dark">
					<div class="d-flex justify-content-between align-items-center">
						<div class="btn-group">
							<a href="" class="btn-jp mb-4">Louer</a>
						</div>
					</div>
				</div>
			</div>
		</div>



{% endblock %}



