{% extends "base.html.twig"%}

{% block title %}
        GESTION DES CATEGORIES
{% endblock %}


{% block body %}

     <h1 class="display-4 text-center my-5">  BACK-OFFICE / GESTION des CATEGORIES
                {# <small> <a href="{{ path('admin_new_category') }}" class="btn btn-info btn-sm mb-3"> New catégorie </a></small>  #}
    </h1>

        <table class="table table-bordered text-center">

            <tr>
                {% for oneColonne in colonnes %}

                    {% if oneColonne == 'name' %}
                        <th> CATEGORIES </th>
                    {% else %}
                        <th> {{ oneColonne|upper}}</th>
                    {% endif %}        
                
                {% endfor %}
                    <th> NOMBRE DE JEUX </th>
                    <th> MODIFIER</th>
                    <th> SUPPRIMER</th>

            </tr>

            {% for oneCategory in categorieBdd %}
                <tr>
                    
                    <td> {{ oneCategory.id}} </td>
                    <td>{{ oneCategory.name }}</td>
                    <td>{{ oneCategory.games|length }}</td>

                    <td> <a href="" class="btn btn-info"></a> </td>
                    <td> <a href="{{ path('back_remove_category', {'id': oneCategory.id}) }}" class="btn btn-danger"></a> </td>


                </tr>
            {% endfor %}
        </table>


{% endblock %}