{% extends "base.html.twig" %}

{% block title %}
        BackOffice | Gestion des Emprunts
{% endblock %}


{% block body %}
        <h1 class="h1 my-4">Gestion des Emprunts</h1>

  {% for message in app.flashes("success") %}
        <div class="col-lg-8 d-flex justify-content-center align-items-center mx-auto mb-4">
			<span class="bg-msg text-success font-italic rounded text-center mx-auto py-2 px-4">
        		{{message}}
			</span>
        </div>
{% endfor %}
<div class= "overflow_table">
    <table class="table table-bordered table-striped text-center">
        <tr class="align-middle">
               
            {% for column in columns %}
                {% if column == "lender_id" %}
                        <th class="align-middle font-weight-bold th-size">Prêteur</th>
                    {% elseif column == "borrower_id" %}
                        <th class="align-middle font-weight-bold th-size">Emprunteur</th>
                    {% elseif column == "game_id" %}
                        <th class="align-middle font-weight-bold th-size">Jeux</th>
                    {% elseif column == "start_date" %}
                        <th class="align-middle font-weight-bold th-size">Début date du prêt</th>
                    {% elseif column == "end_date"%}
                        <th class="align-middle font-weight-bold th-size">Date de fin du prêt </th>
                    {% elseif column == "giveaway_date" %}
                        <th class="align-middle font-weight-bold th-size">Date de remise</th>
                    {% elseif column == "return_date"%} 
                        <th class="align-middle font-weight-bold th-size">Date de retour</th>
                    {% else %}
                        <th class="align-middle font-weight-bold th-size"> {{column|upper }}</th>
                {% endif %}
            {% endfor %}
                        
                <th class="align-middle font-weight-bold th-size">SUPPRIMER</th>
        </tr>

        {% for borrowing in borrowings %}
            <tr class="align-middle">

                <td class="align-middle td-size">{{ borrowing.id }}</td>
                <td class="align-middle td-size">{{ borrowing.lender.id }}</td> 
                <td class="align-middle td-size">{{ borrowing.borrower.id }}</td> 
                <td class="align-middle td-size">{{ borrowing.game.id }}</td>
                <td class="align-middle td-size">{{ borrowing.startDate|date("d/m/Y") }}</td>
                <td class="align-middle td-size">{{ borrowing.endDate|date("d/m/Y") }}</td>
                <td class="align-middle td-size">{{ borrowing.giveawayDate|date("d/m/Y") }}</td>
                <td class="align-middle td-size">{{ borrowing.returnDate|date("d/m/Y") }}</td>
           
                <td class="align-middle"><a href="{{ path("admin_delete_borrowing", {'id' : borrowing.id}) }}" class="delete-backoffice btn-jp size-button-emprunt-hover" onclick="return(confirm('Voulez-vous vraiment supprimer cet emprunt ?'))"></a></td>
            </tr>

            
        {% endfor %} 

    </table>
</di>    
{% endblock %}