{% extends "base.html.twig" %}

{% block title %}
    BACKOFFICE | Modification membre
{% endblock %}

{% block body %}

    <h1 class="display-4 text-center my-5">BACKOFFICE | Modification membre</h1>


    {{ form_start(formUser, {'attr': {'class': 'col-md-3 mx-auto'}}) }}

        {{ form_row(formUser.username, {'label': "Nom d'utilisateur"}) }}

        {{ form_row(formUser.email) }}

        {{ form_row(formUser.roles, {'label': false}) }}

        <button type="submit" class="btn btn-secondary">Enregistrer les modifications</button>

    {{ form_end(formUser) }}
    
{% endblock %}