{% extends 'base.html.twig' %}

{% block body %}

<h1 class="h1 mt-3 mb-4">Conversation échange du jeu {{borrowing.game.name}}</h1>

<section class="row justify-content-center">
	<div class="col-md-8">
		<div id="message-board" class="table d-flex flex-column test-inset" style= "width: 100%; height: 300px; overflow: auto; padding: 5px;">
		</div>
	</div>	
		<div class="col-md-10">
			{{ form_start(form, {'attr' : {'id': 'messenger_form', 'class': 'col-md-8 mx-auto pt-4 row justify-content-around' }}) }}

				{{ form_row(form.content, {'label' : "Message ", 'attr' : {'rows': "2"}}) }}
				{{ form_row(form.save, {'label' : "Envoyer", 'attr' : {'class': 'btn-jp mx-auto mt-4'}}) }}

			{{ form_end(form) }}
		</div>
		
</section>

<script>
	$(document).ready(function() {

		function refreshPage() { 
			$.get({
				url: "{{ path('messenger_ajax_request', {'id': borrowing.id}) }}",
				dataType : "html",
				success:  function(data) {

					$('#message-board').html(data);
				}
			});
		}
		setInterval(refreshPage, 2000);

		$( "#messenger_form" ).submit(function(e) {
			e.preventDefault();

			var $form = $(e.currentTarget);
			$.ajax({
				url: "{{ path('messenger_ajax_send', {'id': borrowing.id}) }}",
				method: 'POST',
				data: $form.serialize()
			});
			$("#messenger_app_form_content").val("");
		});
	});
</script> 

{% endblock %}
