<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="author" content="Aurelie Gilet, Veronique Khammisouk, Celine Saint-Martin, Celine Trivier">
        <meta name="description" content="JEUX PARTAGE est une plateforme basée sur l'échange et mettant en relation les habitants des Yvelines adeptes des jeux de société. Chacun étant libre de proposer sa propre collection de jeux à la location afin que d'autres puissent les emprunter pour s'amuser.">
        <meta name="keywords" content="jeux, partage, louer, emprunter, jeu de société, Yvelines">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('bootstrap-4.6.0-dist/css/bootstrap.min.css')}}">
            <link rel="stylesheet" href="{{asset('css/style.css')}}">
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap">
        {% endblock %}
        <link rel="icon" type="image/png" href="{{asset('img/favicon.png')}}"/>
        <title>{% block title %}Jeux Partage{% endblock %}</title>
    </head>


    <body id="home">
        <div class="container-fluid">
            <div id="overlay"></div>
            
            <div class="header_shadow"><h2>JEUX PARTAGE</h2></div>
            <header class="row align-items-center justify-content-between">
                <div class="shake col-lg-5 col-8 d-flex justify-content-start align-items-center p-0">
                    <h2><a href="{{ path("home") }}">JEUX PARTAGE</a></h2>
                    <div class="dices_icon">
                        <img src="{{ asset('img/dices.png') }}" alt="dés de jeux">
                    </div>
                </div>

                <nav>
                    <!-- BURGER MENU -->
                    <button class="d-lg-none p-0" id="burger">
                        <div class="burger_line cross_off"></div>
                        <div class="burger_line cross_line" id="cross_line1"></div>
                        <div class="burger_line cross_line" id="cross_line2"></div>
                        <div class="burger_line cross_off"></div>
                        <div class="burger_line cross_off"></div>
                    </button>
                    <!-- BURGER MENU -->

                    <ul>
                        <div>
                            <li class="d-flex justify-content-start align-items-center">
                                <img src="{{ asset('img/pawn-icon.png') }}" alt="icone pion" id="pawn_icon">
                                <a class="nav-link dropdown-toggle px-2 py-0" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Jeux
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ path("catalogue") }}">Tout le Catalogue</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="nav-link dropdown-toggle px-2 py-0" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Jeux par Catégories
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
									{# This is use to embed a controller without having to specify a route in the method #}
									{{ render(controller(
										'App\\Controller\\FrontController::categories'
									))}}
                                    </div>
                                </div>
                            </li>
                            <div class="d-none d-lg-block nav_hover"></div>
                        </div>

                        <div>
                            <li class="nav-item dropdown d-flex justify-content-start align-items-center">
                                <img src="{{ asset('img/my_account.png') }}" alt="icone mon compte" id="account_icon">
                            {% if is_granted("ROLE_USER") %}
                                <a class="nav-link dropdown-toggle px-2 py-0" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Mon Compte
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                    <a class="dropdown-item" href="{{ path("security_profil") }}">Profil</a>

                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path("account_games_borrowed") }}">Emprunts</a>
                                    <a class="dropdown-item" href="{{ path("account_games_lended") }}">Prêts</a>
                                    <a class="dropdown-item" href="{{ path("account_games") }}">Mes jeux</a>
                                </div>
                            {% elseif is_granted("ROLE_ADMIN") %}
                                <a class="nav-link dropdown-toggle px-2 py-0" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    BackOffice
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ path("admin") }}">BackOffice</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path("admin_users") }}">Gestion des Membres</a>
                                    <a class="dropdown-item" href="{{ path("admin_games") }}">Gestion des Jeux</a>
                                    <a class="dropdown-item" href="{{ path("admin_categories") }}">Gestion des Catégories</a>
                                    <a class="dropdown-item" href="{{ path("admin_borrowings") }}">Gestion des Emprunts</a>
                                </div>
                            {% else %}
                                <a href="{{ path("security_login") }}" class="nav-link px-2 py-0">Se connecter / S'inscrire</a>
                            {% endif %}
                            </li>
                            <div class="d-none d-lg-block nav_hover"></div>
                        </div>

                        {% if app.user %}
                        <div>
                            <li class="d-flex justify-content-start align-items-center">
                                <img src="{{ asset('img/logout.png') }}" alt="icone déconnexion" id="logout_icon">
                                <a href="{{ path('security_logout') }}" class="nav-link px-2 py-0">Quitter</a>
                            </li>
                            <div class="d-none d-lg-block nav_hover"></div>
                        </div>
                        {% endif %}
                    </ul>
                </nav>
            </header>

            <div class="circle" id="circle1"></div>
            <div class="circle" id="circle2"></div>
            <div class="circle" id="circle3"></div>
            <div class="circle" id="circle4"></div>
            <div class="circle" id="circle5"></div>

            <main>
                {% block body %}{% endblock %}

                <a href="#home"><div class="up"></div></a>
            </main>

            <footer class="d-flex justify-content-between align-items-center">
                <p>&copy; 2021 créé par Aurélie, Céline et Véronique - Tous droits réservés</p>
                <div><a href="">Mentions légales et CGU</a> | <a href="">Contact</a></div>
            </footer>
        </div>
    </body>


    {% block javascripts %}
        <script src="{{asset('js/jquery-3.5.1.min.js')}}"></script>
        <script src="{{asset('bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{asset('js/js.js')}}"></script>
    {% endblock %}
</html>
