<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="author" content="Aurelie Gilet, Veronique Khammisouk, Celine Saint-Martin, Celine Trivier">
        <meta name="description" content="JEUX PARTAGE est une plateforme basée sur l'échange et mettant en relation les habitants des Yvelines adeptes des jeux de société. Chacun étant libre de proposer sa propre collection de jeux à la location afin que d'autres puissent les emprunter pour s'amuser.">
        <meta name="keywords" content="jeux, partage, louer, emprunter, jeu de société, Yvelines">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('bootstrap-4.6.0-dist/css/bootstrap.min.css')}}">
            <link rel="stylesheet" href="{{asset('css/style.css')}}">
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap">
        {% endblock %}
        <link rel="icon" type="image/png" href="{{asset('img/favicon.png')}}"/>
        <title>{% block title %}Jeux Partage{% endblock %}</title>
    </head>


    <body>
        <div class="container-fluid">
            <div id="overlay"></div>
            
            <header class="row align-items-center justify-content-between">
                <div class="col-lg-5 col-8 d-flex justify-content-start align-items-center p-0">
                    <h2><a href="{{ path("home") }}">JEUX PARTAGE</a></h2>
                    <div class="dices_icon">
                        <img src="{{ asset('img/dices.png') }}" alt="dés de jeux">
                    </div>
                </div>

                <nav>
                    <!-- BURGER MENU -->
                    <button class="d-lg-none p-0" id="burger">
                        <div class="burger_line"></div>
                        <div class="burger_line" id="cross_line1"></div>
                        <div class="burger_line" id="cross_line2"></div>
                        <div class="burger_line"></div>
                    </button>
                    <!-- BURGER MENU -->

                    <ul>
                        <li class="d-flex justify-content-end align-items-center">
                            <img src="{{ asset('img/pawn-icon.png') }}" alt="icone pion" id="pawn_icon">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Catalogue</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path("catalogue") }}">Catalogue</a>
                                
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item">Jeux par catégorie : </a>
                                <a class="dropdown-item" href="">Cartes</a>
                                <a class="dropdown-item" href="">Stratégie</a>
                                <a class="dropdown-item" href="">Connaissance</a>
                                <a class="dropdown-item" href="">Adresse</a>
                                <a class="dropdown-item" href="">Coopération</a> 
                                <a class="dropdown-item" href="">Logique</a>
                                <a class="dropdown-item" href="">Lettre</a>
                                <a class="dropdown-item" href="">Dés</a>
                                <a class="dropdown-item" href="">Mémoire</a>                               

                            </div>
                        </li>
                    
                        <li class="nav-item dropdown d-flex justify-content-end align-items-center">
                            <img src="{{ asset('img/my_account.png') }}" alt="icone mon compte" id="account_icon">
                        {% if app.user %}
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mon Compte</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="">Profil</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="">Emprunts</a>
                                <a class="dropdown-item" href="">Prêts</a>
                                <a class="dropdown-item" href="">Ajouter un jeu</a>
                            </div>
                        </li>
                        <li>
                            <a href="{{ path('security_logout') }}">Déconnexion</a>
                        {% else %}
                            <a href="{{ path("security_login") }}">Se connecter / S'inscrire</a>
                        {% endif %}
                        </li>

                        {% if is_granted("ROLE_ADMIN") %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                BackOffice</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="">Espace personnalisé</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="">Gestion des Membres</a>
                                    <a class="dropdown-item" href="}">Gestion du Catalogue</a>
                                    <a class="dropdown-item" href="}">Gestion des Emprunts</a>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </header>

            <main>
                {% block body %}{% endblock %}
            </main>

            <footer class="d-flex justify-content-between align-items-center">
                <p>&copy; 2021 créé par Aurélie, Véronique, Céline et Céline - Tous droits réservés</p>
                <div><a href="">Mentions légales et CGU</a> | <a href="">Contact</a></div>
            </footer>
        </div>
    </body>


    {% block javascripts %}
        <script src="{{asset('js/jquery-3.5.1.min.js')}}"></script>
        <script src="{{asset('bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{asset('js/js.js')}}"></script>
    {% endblock %}
</html>
